<h1>Music App ProtoType</h1>
<%= form_tag '/songs' do %>
<%= text_field_tag :genre, @genre%><br>
<%= number_field_tag :minutes, @duration%>
<%= submit_tag "get songs"%>
<%end%>
<br>

<!-- <a href="#" id="audioControl">pause!</a> -->

<%= audio_tag @tracks[0], autoplay: false, controls: true, id: 'audio' %>
<%=form_tag '/update' do%>
    <ul id="playlist">
        <% @tracks.each_with_index do |track, index|%>
        <li><%=check_box_tag @indices[index], @indices[index]%><%=link_to @names[index], track%></li>
        <%end%>
    </ul>
   <%= submit_tag "update list"%>
<%end%>

<!-- <div class="container">
    <div class="row">
        <a class="btn btn-primary" data-toggle="modal" href="#myModal" >Save playlist</a>
            <div class="modal-body"> -->
                <%= form_for @playlist do |f| %>
                <%= f.text_field :title, placeholder: 'playlist name', required: true %><br> 
                <%= f.text_field :mood, placeholder: 'mood', required: true %><br>
                <%= f.hidden_field :tracks %> 
                <%= f.hidden_field :names %> 
                <%= f.submit "Save" %>
                <% end %>
            <!-- </div>
    </div>
</div>
 -->

 
 
 


<!--we will probably want to move the js into its own file, but this was quick-->   
<script>
var audio;
var playlist;
var tracks;
var track_names;
var current;
var urls = '';
init();
function init(){
    current = 0;
    audio = $('#audio');
    playlist = $('#playlist');
    tracks = playlist.find('li a');
    len = tracks.length - 1;
    audio[0].volume = .50;
    audio[0].play();
    playlist.find('a').click(function(e){
        e.preventDefault();
        link = $(this);
        current = link.parent().index();
        run(link, audio[0]);
    });
    audio[0].addEventListener('ended',function(e){
        current++;
        if(current == len){
            current = 0;
            link = playlist.find('a')[0];
        }else{
            link = playlist.find('a')[current];    
        }
        run($(link),audio[0]);
    });
    tracksArr = tracks.toArray();
    tracksArr.forEach(function(url){
        urls += url + ',';
    });
    tracksArr.forEach(function(track){
        track_names += track.innerText + ',';
    });
    $("#playlist_tracks").val(urls)
    $("#playlist_names").val(track_names)
}
function run(link, player){
        player.src = link.attr('href');
        par = link.parent();
        par.addClass('active').siblings().removeClass('active');
        audio[0].load();
        audio[0].play();
}
var yourAudio = document.getElementById('audio'),
    ctrl = document.getElementById('audioControl');
ctrl.onclick = function () {
    // Update the Button
    var pause = ctrl.innerHTML === 'pause!';
    ctrl.innerHTML = pause ? 'play!' : 'pause!';
    // Update the Audio
    var method = pause ? 'pause' : 'play';
    yourAudio[method]();
    // Prevent Default Action
    return false;
};
</script>
