<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <h1  class='transbox search-font' style="margin-top:0px;margin-bottom:5px;">MoodZiq</h1>
            <div class='form-group'>
                <%= form_tag '/songs' do %>
                    <%= text_field_tag :genre, nil, placeholder: "Search Genres", :required => true, class: 'form-control'%><br>
                    <%= number_field_tag :minutes, nil, placeholder: "Playlist Duration (min.)", :required => true, class: 'form-control'%>
                    <br>
                    <%= submit_tag "get songs", class: 'btn btn-xs pull-left'%>
                <%end%>
            </div>
        <div class="col-md-4 col-sm-2 col-xs-1"></div>
        </div>
    </div>
    <br>

<!-- <a href="#" id="audioControl">pause!</a> -->


    <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <p style="text-align:left;">check to keep</p>
            <%=form_tag '/update' do%>
                <ol id="playlist" style="text-align:left;">
                    <% @tracks.each_with_index do |track, index|%>
                    <li><%=check_box_tag @indices[index], @indices[index]%> - <%=link_to @names[index], track%></li>
                    <%end%>
                </ol>
               <%= submit_tag "update list", class: 'btn btn-xs pull-left'%>
            <%end%>
            <div class="col-md-4 col-sm-2 col-xs-1"></div>
        </div>
    </div>

    <button type="button" data-toggle="modal" data-target="#myModal" style="display: inline" class="btn btn-primary">
                  Save
                </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content motra">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save Your Playlist</h4>
                  </div>
                  <div class="modal-footer">
                    <%= form_for @playlist do |f| %>
                    <div class="form-group">
                    <%= f.hidden_field :tracks %>
                    <%= f.hidden_field :names %>
                    <%= f.hidden_field :duration%>
                    <%= f.text_field :title, placeholder: 'name your playlist', class: 'form-control'%>
                    <%= f.select :mood, [['Happy', 'happy'], ["Sad", 'sad'], ['Silly', 'silly'] ],{}, {:class => 'form-control'}%>
                    <%= f.submit "Save", class: 'btn btn-primary' %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
</div>
           
    <footer class="podbar">
      <div class="container">
        <%= audio_tag @tracks[0], autoplay: false, controls: true, id: 'audio' %>
      </div>
    </footer>
<!--we will probably want to move the js into its own file, but this was quick-->
<script>
var audio;
var playlist;
var tracks;
var track_names;
var current;
var urls = '';
init();
function init(){
    current = 0;
    audio = $('#audio');
    playlist = $('#playlist');
    tracks = playlist.find('li a');
    len = tracks.length - 1;
    audio[0].volume = .50;
    audio[0].play();
    playlist.find('a').click(function(e){
        e.preventDefault();
        link = $(this);
        current = link.parent().index();
        run(link, audio[0]);
    });
    audio[0].addEventListener('ended',function(e){
        current++;
        if(current == len){
            current = 0;
            link = playlist.find('a')[0];
        }else{
            link = playlist.find('a')[current];
        }
        run($(link),audio[0]);
    });
    tracksArr = tracks.toArray();
    tracksArr.forEach(function(url){
        urls += url + ',';
    });
    tracksArr.forEach(function(track){
        track_names += track.innerText + ',';
    });
    $("#playlist_tracks").val(urls);
    $("#playlist_names").val(track_names);
    $("#playlist_duration").val('00:' + $('input#minutes').val().toString())
}
function run(link, player){
        player.src = link.attr('href');
        par = link.parent();
        par.addClass('active').siblings().removeClass('active');
        audio[0].load();
        audio[0].play();
}
var yourAudio = document.getElementById('audio'),
    ctrl = document.getElementById('audioControl');
ctrl.onclick = function () {
    // Update the Button
    var pause = ctrl.innerHTML === 'pause!';
    ctrl.innerHTML = pause ? 'play!' : 'pause!';
    // Update the Audio
    var method = pause ? 'pause' : 'play';
    yourAudio[method]();
    // Prevent Default Action
    return false;
};
</script>
