<div class="welcome">
	<!-- signUpModal -->
	
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content motra">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text" id="myModalLabel">Create an account</h4>
	      </div>
	      <div class="modal-body">
	      
			<%= form_for @user do |f| %>
			    <div class="form-group">
			     <span> <%= f.text_field :name, placeholder: "Full Name", class: 'form-control' %></span>
			    </div> <br>
			    
			    <div class="form-group">
			      <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
			    </div><br>
			    <div class="form-group">
			      <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
			    </div><br>
			    <div class="form-group">
			      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
			    </div><br>
			    <input type="hidden" role="uploadcare-uploader" name="user[photo]"
        data-crop="enabled"
        data-preview-step="true"
        data-images-only="true" />
			    <%= f.submit "Sign Up", class: 'btn btn-primary' %>
			<% end %> 
		</div>

				<div class="modal-footer">
					<span class="text">
            		Already have an account
            		</span>
            		<button data-toggle="modal" data-target="#loginModal" data-dismiss="modal" style="display: inline" class="btn btn-default success">
                 	click Here
               		</button>
        		</div>

	    </div>
	  </div>
	</div>
	</div>

	<!-- Login Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content motra">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text" id="myModalLabel">Login</h4>
	      </div>
		      <div class="modal-body">
		      
				<%= form_for @user, url: sessions_path do |f| %>
				    <div>
				      <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
				    </div><br>
				    <div>
				      <%= f.password_field :password, placeholder: "Password" , class: 'form-control'%>
				    </div><br>
				    <%= f.submit "Login" , class: 'btn btn-primary'%>
				<% end %> 
			  </div>
			<div class="modal-footer">
				<span class="text">
            New To MoodZiq?
            	</span>
            <button data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" style="display: inline" class="btn btn-sm btn-default success">
                Register Here
               </button>
            
        	</div>	

	    </div>
	  </div>
	</div>
</div>
<!-- carousel -->
<!-- *** | Home Content | *** -->
<div id="carousel-bob-home" class="body carousel slide" data-ride="carousel" data-interval="5000">
		<!-- Indicators -->
	<ol class="carousel-indicators">
		  <li data-target="#carousel-bob-home" data-slide-to="0" class="active"></li>
		  <li data-target="#carousel-bob-home" data-slide-to="1"></li>
		  <li data-target="#carousel-bob-home" data-slide-to="2"></li>
	</ol>

		<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">

		<div class="item caro-pan active">
			<img class="caro-img" src="https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?q=80&fm=jpg&s=48506e8121d839e969fd2eb622af2c90" alt="...">
			<div class="carousel-caption caro-text">
				<h1 class="caro-title">Where words fail, music speaks.</h1>
				<p></p>
			</div>
		</div>

		<div class="item caro-pan">
			<img class="caro-img" src="http://www.easyoffer.net/p/acoustic-guitar-wallpaper-high-definition-16um.jpg" alt="...">
			<div class="carousel-caption caro-text">
				<h2 class="caro-title" style="vertical-align:bottom;">Just the right amount, just the right style, right when you need it. </h2>
				<p></p>
			</div>
		</div>

		<div class="item caro-pan">
			<img class="caro-img" src="http://www.mrwallpaper.com/wallpapers/boy-play-guitar.jpg" alt="...">
			<div class="carousel-caption caro-text">
				<h2 class="caro-title">With MoodZiq, build the perfect playlist for any occassion and moods. </h2>
				<p></p>
			</div>
		</div>
	</div>

		<!-- Controls -->
	<a class="" href="#carousel-bob-home" role="button" data-slide="prev">
		<span class="" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="" href="#carousel-bob-home" role="button" data-slide="next">
		<span class="" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

