<div class="welcome">
	<!-- signUpModal -->
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
	      </div>
	      
			<%= form_for @user do |f| %>
			    <div>
			      <%= f.text_field :name, placeholder: "Full Name" %>
			    </div> <br>
			    
			    <div>
			      <%= f.text_field :email, placeholder: "Email" %>
			    </div><br>
			    <div>
			      <%= f.password_field :password, placeholder: "Password" %>
			    </div><br>
			    <div>
			      <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
			    </div><br>
			    <input type="hidden" role="uploadcare-uploader" name="user[photo]"
        data-crop="disabled"
        data-preview-step="true"
        data-images-only="true" />
			    <%= f.submit "Sign Up" %>
			<% end %> 

	    </div>
	  </div>
	</div>

	<!-- Login Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Login</h4>
	      </div>
	      
			<%= form_for @user, url: sessions_path do |f| %>
			    <div>
			      <%= f.text_field :email, placeholder: "Email" %>
			    </div><br>
			    <div>
			      <%= f.password_field :password, placeholder: "Password" %>
			    </div><br>
			    <%= f.submit "Login" %>
			<% end %> 

	    </div>
	  </div>
	</div>
</div>



